@page "/Error"
@using System.Diagnostics

<div class="bb-error">
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>

    @if (string.IsNullOrEmpty(RequestId) is false)
    {
        <p><strong>Request ID:</strong> <code>@RequestId</code></p>
    }

    <BrouterLink Href="/" class="btn btn-primary">Back to home</BrouterLink>
</div>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
