@namespace Bit.BlazorUI.Legacy.Demo.Chart
@page "/components/legacy/chart"

<PageOutlet Url="components/legacy/chart"
            Title="Chart"
            Description="Simple and flexible charting component for data visualization, which supports eight chart types: bar, line, area, pie, bubble, radar, polar, and scatter." />

<div>
    @if (isLoadingAssemblies)
    {
        <LoadingComponent />
    }
    else
    {
        <DemoPage Name="Chart"
                  Description="Simple and flexible charting component for data visualization, which supports eight chart types: bar, line, area, pie, bubble, radar, polar, and scatter."
                  Parameters="componentParameters"
                  SubClasses="componentSubClasses"
                  GitHubExtrasUrl="Chart/BitChart.razor"
                  GitHubDemoUrl="Legacy/Chart/BitChartDemo.razor">
            <NotesTemplate>
                <BitText>
                    To use this component, you need to install the
                    <BitLink Href="https://www.nuget.org/packages/Bit.BlazorUI.Legacy" Target="_blank">
                        <BitTag Reversed
                                Text="Bit.BlazorUI.Legacy"
                                Color="BitColor.SecondaryBackground"
                                IconName="@BitIconName.NavigateExternalInline" />
                    </BitLink>
                    nuget package, as described in the <BitLink Href="/getting-started#legacy-components">Legacy components</BitLink> section of the Getting started page.
                </BitText>
            </NotesTemplate>
            <Examples>
                <_BitChartBarDemo />

                <_BitChartHorizontalBarDemo />

                <_BitChartStackedBarDemo />

                <_BitChartLineDemo />

                <_BitChartPieDemo />

                <_BitChartDoughnutDemo />

                <_BitChartPolarAreaDemo />

                <_BitChartTimeDemo />

                <_BitChartScatterDemo />

                <_BitChartBubbleDemo />

                <_BitChartRadarDemo />
            </Examples>
        </DemoPage>
    }
</div>