@namespace Bit.BlazorUI.Demo.Client.Core.Pages.Components.Extras.Chart

<DemoExample Title="Polar area" RazorCode="@areaRazorCode" CsharpCode="@areaCsharpCode" Id="polar-area">
    <div class="example-desc">click legend to toggle slices</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.PolarArea" Data="Data()" Options="_right" /></div></div>
</DemoExample>

<DemoExample Title="Centered point labels" RazorCode="@labelsRazorCode" CsharpCode="@labelsCsharpCode" Id="polar-centered-point-labels">
    <div class="example-desc">category labels around the perimeter</div>
    <div class="chart-wrapper"><div class="chart-container"><BitChart RespectReducedMotion="false" Type="BitChartType.PolarArea" Data="Data()" Options="_labels" /></div></div>
</DemoExample>
