@inherits LayoutComponentBase

<nav class="bm-nav" aria-label="Bmotion demos">
    <span class="logo">Bmotion</span>
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="basic">Basics</NavLink>
    <NavLink href="springs">Springs</NavLink>
    <NavLink href="gestures">Gestures</NavLink>
    <NavLink href="variants">Variants</NavLink>
    <NavLink href="keyframes">Keyframes</NavLink>
    <NavLink href="presence">AnimatePresence</NavLink>
    <NavLink href="drag">Drag</NavLink>
    <NavLink href="scroll">Scroll</NavLink>
    <NavLink href="layout">Layout</NavLink>
</nav>

<main class="bm-page">
    @Body
</main>
