@namespace Bit.BlazorUI
@implements IDisposable

<div class="bit-bfc-header">
    <div class="bit-bfc-header-left">
        <BitFcTodayButton />
        <BitFcDateNavigator />
    </div>

    <div class="bit-bfc-header-center">
        <BitFcModeTabs />
        <BitFcViewTabs />
    </div>

    <div class="bit-bfc-header-right">
        @if (!HideFilters)
        {
            <BitFcFilterEvents />
        }
        <button type="button" class="bit-bfc-btn bit-bfc-btn-primary bit-bfc-btn-sm" @onclick="OnAddEventClick">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
            @Texts.AddEventButton
        </button>
        @if (!HideSettings)
        {
            <BitFcSettings />
        }
    </div>
</div>

@if (_showAddDialog)
{
    <BitFcAddEditEventDialog OnClose="() => _showAddDialog = false" />
}
