@page "/"
@namespace Bit.BlazorUI.Demo.Client.Core.Pages

<PageOutlet Url=""
            FullTitle="bit BlazorUI - Native, Open-Source Blazor UI Component Library"
            Title="Home"
            Description="bit BlazorUI is an open-source set of 80+ native Blazor UI components for WebAssembly, Server, Hybrid (MAUI) and pre-rendering. Explore the docs." />

<div class="homepage-container">
    <section class="homepage-section hero-section">
        <div class="homepage-section-content">
            <HeroSection />
        </div>
    </section>

    <section class="homepage-section popular-components-section">
        <div class="homepage-section-content">
            <PopularComponents />
        </div>
    </section>

    <section class="homepage-section benefit-section">
        <div class="homepage-section-content">
            <BenefitsSection />
        </div>
    </section>

    <section class="homepage-section component-list-section">
        <div class="homepage-section-content">
            <ComponentsSection />
        </div>
    </section>

    <section class="homepage-section contribution-section">
        <div class="homepage-section-content">
            <BitText Element="h2" Typography="BitTypography.H3" Gutter>Open Source contribution</BitText>
            <BitText Typography="BitTypography.Body1" Gutter Style="max-width: 700px">
                Backed by a professional dedicated development team and an active community,
                you are well supported to work out all challenges. Since all open source components are on GitHub,
                you can follow the production flow of the components. Feel free to report bugs, fork the repo, and submit pull request.
            </BitText>
            <BitStack Horizontal>
                <BitButton IconUrl="_content/Bit.BlazorUI.Demo.Client.Core/images/icon/github-blue-icon.svg"
                           Href="https://github.com/bitfoundation/bitplatform" Target="_blank">
                    GitHub
                </BitButton>
                <BitSpacer />
                <GitHubEditButton GitHubUrl="Home/HomePage.razor" />
            </BitStack>
        </div>
    </section>
</div>