<header class="bb-header">
    <div class="bb-header-inner">
        <BrouterLink Href="/" Match="BrouterLinkMatch.All" class="bb-brand">
            <span class="bb-brand-text">Bit.Brouter</span>
            <span class="bb-brand-tag">demo</span>
        </BrouterLink>

        <nav class="bb-nav">
            <BrouterLink Href="/" Match="BrouterLinkMatch.All">Home</BrouterLink>
            <BrouterLink Href="/counter/1234">Counter</BrouterLink>
            <BrouterLink Href="/fetchdata">Fetch data</BrouterLink>
            <BrouterLink Href="/profile">Profile</BrouterLink>
            <BrouterLink Href="/posts/2024/12/hello-world">Posts</BrouterLink>
            <BrouterLink Href="/nested">Nested</BrouterLink>
            <BrouterLink Href="/g1">Guarded</BrouterLink>
        </nav>
    </div>
</header>
