@* Hosts the wildcard + literal routes used to verify specificity-based winner selection. *@

<Brouter>
    <BrouterRoute Path="/*">
        <Content><div data-testid="star">star</div></Content>
    </BrouterRoute>
    <BrouterRoute Path="/about">
        <Content><div data-testid="about">about</div></Content>
    </BrouterRoute>
</Brouter>
